# npm installed modules.
node_modules

# lock file 
package-lock.json

#Environment file:
.env

#images that were uploaded.
#**/students/*.jpg
#**/students/*.jpeg
#**/students/*.png
#**/students/*.gif
